# Steam Web API key — https://steamcommunity.com/dev/apikey
STEAM_API_KEY=0F390E7A12E29553D38D84CB4AC30954

# The public URL of your site (used as Steam OpenID return_to / realm)
SITE_URL=http://localhost:3000

# Random 32+ character string for signing the session cookie
SESSION_SECRET=aXLEtJdvM7rYbJNVti7xUjY8rEWvW13a
